.home {
  display: flex;
  text-align: center;
  height: 90vh;
}

.card {
  display: inline-block;
  margin: auto;
  width: 40vw;
  background-color: #ccc !important;
}

.card-content {
  display: inline-block;
  margin: auto;
}

.card-photo {
  display: inline-block;
  margin: auto;
}

.card-actions {
  justify-content: center;
}
